@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  from { transform: translateY(0) rotate(0deg); }
  to { transform: translateY(115vh) rotate(720deg); }
}

.snow-fall {
  position: absolute;
  top: -10%;
  animation: fall linear forwards;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }
